/* Sidebar container */
aside {
  width: 150px;
  background: #ffffff;
  height: calc(100vh - 50px);
}

/* Styling for the unordered list */
ul {
  list-style: none;
  padding: 0;
  background: transparent;
  margin-top: 20px;
}

/* Styling for list items */
ul li {
  background: transparent;
}

/* Styling for links inside list items */
ul li a {
  text-decoration: none;
  color: #333333;
  padding: 10px;
  display: block;
  transition: background 0.3s ease;
  background: transparent;
  justify-content: left;
  align-items: center;
  display: flex;
}

ul li a svg {
  margin-right: 10px;
  align-items: center;
  background: transparent;
  width: 24px; /* Increase width */
  height: 24px; /* Increase height */
}

/* Active state for links */
ul li a.active {
  background: #dfdfdf;
}

/* Hover effect for links */
ul li a:hover {
  background: #c2c2c2;
}
